bin/
.idea/
obj/
.DS_Store

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015 cache/options directory
.vs/

# Visual Studio Launch Settings
**/Properties/launchSettings.json

node_modules/

# Database files
*.db
*.db-shm
*.db-wal

BenchmarkDotNet.Artifacts/